<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="MasterDataSet" value="https://raw.githubusercontent.com/KingMob4313/DataRepository/main/MasterCrewExplorerDataset.json"/>
    <add key="MasterDataSetPrefix" value="https://raw.githubusercontent.com/KingMob4313/DataRepository/main/MasterCrew_{0}.json"/>
  </appSettings>
</configuration>